.__sortable-list{
  height:350px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ███████╗    ██╗    ███████╗    ███████╗    ███████╗
      ██╔════╝    ██║    ╚══███╔╝    ██╔════╝    ██╔════╝
      ███████╗    ██║      ███╔╝     █████╗      ███████╗
      ╚════██║    ██║     ███╔╝      ██╔══╝      ╚════██║
      ███████║    ██║    ███████╗    ███████╗    ███████║
      ╚══════╝    ╚═╝    ╚══════╝    ╚══════╝    ╚══════╝
                                                        
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.__dimensions tr td{
  padding-bottom:3px;
}

.__dimensions tr th{
  font-weight:500;
}

.checkbox-decorator{
  padding:0!important;
}

.checkbox .checkbox-decorator{
  position:relative;
  margin:auto!important;
}
